@import url(https://fontbit.io/css2?family=Inter:wght@400;500;600;700&family=Outfit:wght@300;400;500;600;700&display=swap);

* {
    letter-spacing: 0.2px;
}

body {
    font-family: 'Outfit', sans-serif;
}
.bg-radial-gradient {
    background-image: radial-gradient(50% 50% at 50% 50%,#50E587 0,hsla(0,0%,100%,0) 100%);
}

.navbar-active .hamburger div:first-child {
    @apply rotate-45 translate-y-1.5;
}

.navbar-active .hamburger div:last-child {
    @apply -rotate-45 -translate-y-1;
}

.navbar-active div:first-child div:first-child div:last-child {
    @apply block lg:flex;
}